In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

purple_colors = ["#6A0DAD", "#9B30FF", "#BF8BFF"]
sns.set_palette(purple_colors)
plt.style.use("ggplot")

In [103]:
df = pd.read_csv("/content/Financials.csv")
df.head()

,Month,Cost Center,Company,Depreciations Amortizations,Taxes,Operating Costs / COGS,Operating Expenses,Sales,Current Assets,Current Liabilities,Assets,Liabilities
0,6/30/2020 12:00:00 AM,NaN,Everest Group,0.0,0.0,0.0,0.0,0.0,1.938691e+06,1.308187e+06,1.432329e+08,8.248344e+06
1,1/28/2021 12:00:00 AM,NaN,Everest Group,0.0,0.0,0.0,0.0,0.0,1.938691e+06,9.865020e+05,1.432329e+08,7.918410e+06
2,5/30/2021 12:00:00 AM,NaN,Everest Group,0.0,0.0,0.0,0.0,0.0,1.629873e+06,9.007192e+05,1.432329e+08,8.000894e+06
3,6/30/2021 12:00:00 AM,NaN,Everest Group,0.0,0.0,0.0,0.0,0.0,1.955847e+06,1.190236e+06,1.432329e+08,8.578278e+06
4,12/28/2018 12:00:00 AM,NaN,Everest Group,0.0,0.0,0.0,0.0,0.0,1.698499e+06,1.233127e+06,1.418307e+08,8.165861e+06

In [104]:
print(df[df.duplicated()])

                       Month      Cost Center               Company  \
26118  6/30/2021 12:00:00 AM  704-Online Shop  Everest Group France
27172  6/30/2022 12:00:00 AM  704-Online Shop  Everest Group France

       Depreciations Amortizations  Taxes  Operating Costs / COGS  \
26118                          0.0    0.0                     0.0
27172                          0.0    0.0                     0.0

       Operating Expenses  Sales  Current Assets  Current Liabilities  Assets  \
26118                 0.0    0.0             0.0                  0.0     0.0
27172                 0.0    0.0             0.0                  0.0     0.0

       Liabilities
26118          0.0
27172          0.0

In [105]:

df.isna().sum()

Month                            0
Cost Center                    300
Company                          0
Depreciations Amortizations      0
Taxes                            0
Operating Costs / COGS           0
Operating Expenses               0
Sales                            0
Current Assets                   0
Current Liabilities              0
Assets                           0
Liabilities                      0
dtype: int64

In [106]:
df.shape

(36046, 12)

In [107]:

missing_cc = df['Cost Center'].isna().sum()
print(f"# Cost Center is NUN: {missing_cc} ({missing_cc/len(df):.4%})")


df[df['Cost Center'].isna()]

# Cost Center is NUN: 300 (0.8323%)

,Month,Cost Center,Company,Depreciations Amortizations,Taxes,Operating Costs / COGS,Operating Expenses,Sales,Current Assets,Current Liabilities,Assets,Liabilities
0,6/30/2020 12:00:00 AM,NaN,Everest Group,0.0,0.0,0.0,0.0,0.0,1.938691e+06,1.308187e+06,1.432329e+08,8.248344e+06
1,1/28/2021 12:00:00 AM,NaN,Everest Group,0.0,0.0,0.0,0.0,0.0,1.938691e+06,9.865020e+05,1.432329e+08,7.918410e+06
2,5/30/2021 12:00:00 AM,NaN,Everest Group,0.0,0.0,0.0,0.0,0.0,1.629873e+06,9.007192e+05,1.432329e+08,8.000894e+06
3,6/30/2021 12:00:00 AM,NaN,Everest Group,0.0,0.0,0.0,0.0,0.0,1.955847e+06,1.190236e+06,1.432329e+08,8.578278e+06
4,12/28/2018 12:00:00 AM,NaN,Everest Group,0.0,0.0,0.0,0.0,0.0,1.698499e+06,1.233127e+06,1.418307e+08,8.165861e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
32117,6/30/2021 12:00:00 AM,NaN,Everest Group Switzerland,0.0,0.0,0.0,0.0,0.0,5.509787e+04,3.017265e+04,3.098450e+06,2.152261e+05
32118,2/28/2022 12:00:00 AM,NaN,Everest Group Switzerland,0.0,0.0,0.0,0.0,0.0,5.404839e+04,3.378024e+04,3.098450e+06,2.131763e+05
32119,11/28/2017 12:00:00 AM,NaN,Everest Group Switzerland,0.0,0.0,0.0,0.0,0.0,5.719684e+04,3.771581e+04,3.065654e+06,2.029274e+05
32120,3/30/2018 12:00:00 AM,NaN,Everest Group Switzerland,0.0,0.0,0.0,0.0,0.0,5.667210e+04,4.033951e+04,3.065654e+06,2.008777e+05
32121,9/28/2021 12:00:00 AM,NaN,Everest Group Switzerland,0.0,0.0,0.0,0.0,0.0,4.880097e+04,4.066748e+04,3.065654e+06,2.111265e+05

In [108]:
print(df[df['Cost Center'].isna()]['Company'].value_counts())

Company
Everest Group                60
Everest Group UK             60
Everest Group France         60
Everest Group Canada         60
Everest Group Switzerland    60
Name: count, dtype: int64

In [109]:
df['Cost Center'] = df['Cost Center'].fillna('Monthly Total')

In [110]:
def summarize_columns(df):
    summary = []

    for col in df.columns:
        unique_values = df[col].dropna().unique()  # Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„ÙØ±ÙŠØ¯Ø© Ø¨Ø¯ÙˆÙ† NaN
        summary.append({
            'Column Name': col,
            'Unique Count': df[col].nunique(dropna=True),
            'NaN Count': df[col].isna().sum(),
            'Unique Values': list(unique_values)
        })

    return pd.DataFrame(summary)

In [111]:
summarize_columns(df)

,Column Name,Unique Count,NaN Count,Unique Values
0,Month,1743,0,"[6/30/2020 12:00:00 AM, 1/28/2021 12:00:00 AM,..."
1,Cost Center,24,0,"[Monthly Total, 101-General Services, 211-Supp..."
2,Company,5,0,"[Everest Group, Everest Group UK, Everest Grou..."
3,Depreciations Amortizations,311,0,"[0.0, 1122.0, 8602.71, 52.41, 2681.39, 3754.66..."
4,Taxes,74,0,"[0.0, 1978.7, 1489.75, 2976.5, 2258.05, 8.6, 5..."
5,Operating Costs / COGS,20236,0,"[0.0, 32227.32, -23504.67, 2601.29, 270.0, 7.4..."
6,Operating Expenses,22454,0,"[0.0, 779.354, 443.28, 303.269, 1056.998, 6692..."
7,Sales,18327,0,"[0.0, 29880.0, -3575.25, 7438.0, 22141.03, 486..."
8,Current Assets,122,0,"[1938690.83675072, 1629872.8273568, 1955847.39..."
9,Current Liabilities,166,0,"[1308187.4009048, 986501.974452801, 900719.194..."
10,Assets,57,0,"[143232945.1838, 141830726.65824, 140428508.13..."
11,Liabilities,56,0,"[8248344.268, 7918410.49728, 8000893.93996, 85..."

In [112]:
df['Company'].unique()

array(['Everest Group', 'Everest Group UK', 'Everest Group France',
       'Everest Group Canada', 'Everest Group Switzerland'], dtype=object)

In [113]:
print(sum(df["Company"] == "Everest Group"),
sum(df["Company"] == "Everest Group UK"),
sum(df["Company"] == "Everest Group France"),
sum(df["Company"] == "Everest Group Canada"),
sum(df["Company"] == "Everest Group Switzerland"))

17151 4954 5068 4889 3984

Everest Group is the mean pranch in Dallas, Texas, USA

In [114]:

df['Gross Profit']          = df['Sales'] - df['Operating Costs / COGS']
df['Operating Profit']      = df['Gross Profit'] - df['Operating Expenses']


df['Gross Margin %']        = np.where(df['Sales'] == 0, 0, df['Gross Profit'] / df['Sales'])
df['Operating Margin %']    = np.where(df['Sales'] == 0, 0, df['Operating Profit'] / df['Sales'])
df['OpEx % of Sales']       = np.where(df['Sales'] == 0, 0, df['Operating Expenses'] / df['Sales'])


df['Gross Margin %']        = df['Gross Margin %'].round(4)
df['Operating Margin %']    = df['Operating Margin %'].round(4)
df['OpEx % of Sales']       = df['OpEx % of Sales'].round(4)

In [115]:
df.to_excel("Everest_Group_Cleaned_Ready_for_PowerBI.xlsx",
            index=False)